{% extends "base.html" %}
{% block flashes %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% include "flash.html" %}
{% endif %}
{% endwith %}
{% endblock %}
{% block header %}
{% include 'top-navbar.html' %}
{% endblock header %}
{% block menu %}
{% include 'menu.html' %}
{% endblock menu %}

{% block main %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Panel</a></li>
                <li class="breadcrumb-item">Użytkownicy</li>
                <li class="breadcrumb-item active">Profil</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profil" class="rounded-circle">
                        <h2>{{viewed_user.name}} {{viewed_user.sur_name}}</h2>
                        <h3>UZUPEŁNIĆ</h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Przegląd</button>
                            </li>
                            {%if user.id == viewed_user.id%}
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-edit">Edytuj</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-settings">Ustawienia</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">Zmień hasło</button>
                            </li>
                            {%endif%}

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Opis</h5>
                                <p class="small fst-italic">{{viewed_user.description}}</p>

                                <h5 class="card-title">Szczegóły profilu</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Imie i nazwisko</div>
                                    <div class="col-lg-9 col-md-8">{{viewed_user.name}} {{viewed_user.sur_name}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Miasto</div>
                                    <div class="col-lg-9 col-md-8">UZUPEŁNIĆ</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Specjalizacja</div>
                                    <div class="col-lg-9 col-md-8">UZUPEŁNIĆ</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Telefon</div>
                                    <div class="col-lg-9 col-md-8">UZUPEŁNIĆ</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{viewed_user.email}}</div>
                                </div>

                            </div>
                            {%if user.id == viewed_user.id%}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="profileImage"
                                            class="col-md-4 col-lg-3 col-form-label">Zdjęcie</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="assets/img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm"
                                                    title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                    title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Imię i
                                            nazwisko</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" disabled class="form-control"
                                                id="fullName" value="{{viewed_user.name}} {{viewed_user.sur_name}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">Opis</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="about" class="form-control" id="about"
                                                style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Specjalizacja</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" disabled type="text" class="form-control" id="Job"
                                                value="UZUPEŁNIĆ">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Miasto</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" disabled class="form-control" id="Address"
                                                value="UZUPEŁNIĆ">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Telefon</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone"
                                                value="UZUPEŁNIĆ">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email"
                                                value="{{viewed_user.email}}">
                                        </div>
                                    </div>


                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Zapisz</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">
                                <!-- Settings Form -->
                                <form>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Powiadomienia
                                            mailowe</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="changesMade"
                                                    checked>
                                                <label class="form-check-label" for="changesMade">
                                                    UZUPEŁNIĆ
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="newProducts"
                                                    checked>
                                                <label class="form-check-label" for="newProducts">
                                                    UZUPEŁNIĆ
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="proOffers">
                                                <label class="form-check-label" for="proOffers">
                                                    UZUPEŁNIĆ
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="securityNotify"
                                                    checked>
                                                <label class="form-check-label" for="securityNotify">
                                                    UZUPEŁNIĆ
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Zapisz</button>
                                    </div>
                                </form><!-- End settings Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form method="POST">

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Obecne
                                            Hasło</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control"
                                                id="current_password">
                                            <div class="current_password_invalid invalid-feedback">
                                                Hasło niepoprawne
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nowe
                                            hasło</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control"
                                                id="new_password">
                                            <div class="new_password_invalid invalid-feedback">
                                                Podaj nowe hasło
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Powtórz
                                            hasło</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control"
                                                id="password_confirm">
                                            <div class="password_confirm_invalid invalid-feedback">
                                                Hasła się nie zgadzają
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" id="change-password-form">Zmień
                                            hasło</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>
                            {%endif%}
                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
{% endblock main %}

{% block footer %}
{% include 'footer.html' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $('#change-password-form').on('click', function (e) {
        e.preventDefault();
        $('#loading').css('display', 'block');
        $.ajax({
            type: "POST",
            url: "{{ url_for('profile', id = user.id) }}",
            data: {
                'current_operation': 'password_change',
                'current_password': $('#current_password').val(),
                'new_password': $('#new_password').val(),
                'password_confirm': $('#password_confirm').val()
            },
            success: function (data) {
                $('.invalid-feedback').css('display', 'none')
                data = JSON.parse(data);
                if (data.response == 'error') {
                    jQuery.each(data.wrongData, function () {
                        $('.' + String(this) + "_invalid").html(data.message)
                        $('.' + String(this) + "_invalid").css('display', 'block');
                    })
                }
                else if (data.response == 'success') {
                    window.location = data.redirect;
                }
                $('#loading').css('display', 'none');
            }
        });

    });
</script>
{% endblock footer %}